body{
    background-color: #638E8F;
    font-family: 'Courier New';
    padding: 20px;
}

h1{
    color: #ffffff;
    font-size: 48px;  
}

.menu-bar{
    background-color: #ffffff;
    height: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-style: bold;

}
.menu-bar-home, .menu-bar-projects, .menu-bar-contact, .menu-bar-random{  
    padding: 0px 50px 0px 50px;
    color:#638E8F;
    text-decoration: none;
}