@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#root {
  margin: 0;
  padding: 0;
  background-color: transparent;  /* Ensures it's transparent */
  height: 100%; /* Fill the screen */
  width: 100%;  /* Fill the screen */
}

