@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body {
  min-height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, #1e3a8a, #0f172a); /* From blue to dark navy */
}


.main-content {
  display: flex;
  flex-direction: column;
  min-height: 100%; /* Ensures it fills the viewport height */
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 100%;
}
